/* -------------------------CSS-змінні----------------------- */
:root {
  --black-color: #212121;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --button-hover-color: #188ce8;
  --bg-graish-color: #f5f4fa;
  --color-light-gray: #afb1b8;
  --footer-bg-color: #2f303a;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* ---------------------Глобальні селектори--------------- */
body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
  background-color: var(--white-color);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  /* max-width: 100%;
  height: auto; */
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* --------------------------Utils-----------------------  */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding {
  padding-top: 0;
}
/* Приховує заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  color: var(--black-color);

  font-weight: 700;
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
}
/* --------------------------HEADER------------------------- */
.header {
  min-height: 81px;
  border-bottom: 1px solid #ececec;

  margin: 0 auto;
}
.header__page {
  display: flex;
  align-items: center;
}
.sait-nav {
  display: flex;
  align-items: center;
}
.logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}
.header__logo {
  color: var(--black-color);

  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-blue {
  color: var(--blue-color);
}

.menu {
  display: flex;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}
.menu__link {
  position: relative;

  color: var(--black-color);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;

  padding: 33px 0;
  transition: color 250ms var(--timing-function);
}
.menu__link:hover,
.menu__link:focus {
  color: var(--blue-color);
}
.menu__link::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--blue-color);
  border-radius: 2px;

  transform: scaleX(0);
  opacity: 0;
  transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function);
}
.menu__link:hover::after,
.menu__link:focus::after {
  opacity: 1;
  transform: scaleX(1);
}
.menu__link--current {
  color: var(--blue-color);
}
.menu__link--current::after {
  opacity: 1;
  transform: scaleX(1);
}

.contact-list {
  display: flex;
  margin-left: auto;
}
.contact-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-list__item:not(:first-child) {
  margin-left: 50px;
}
.contact-list__link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;

  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}
.contact-list__link:hover,
.contact-list__link:focus {
  color: var(--blue-color);
}
.contact-list__icon {
  fill: currentColor;
  margin-right: 10px;
}
.contact-list__icon:hover,
.contact-list__icon:focus {
  fill: var(--blue-color);
}

/* ------------------------------HERO---------------------------*/
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;

  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__title {
  width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);

  margin: 0 auto 30px;
}
.button {
  /* min-width: 200px; */
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  background-color: var(--blue-color);
  color: var(--white-color);

  border-radius: 4px;
  border: 0px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--timing-function);
}
.button:hover {
  background-color: var(--button-hover-color);
}
.hero__button {
  padding: 10px 32px;
}

/* ------------------------Особенности --------------------*/
.benefits-list {
  display: flex;
}
.benefits-list__item:not(:last-child) {
  margin-right: 30px;
  max-width: 270px;
}
.benefits-list__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;

  background-color: var(--bg-graish-color);
  border: 1px solid transparent;
  border-radius: 4px;

  margin-bottom: 30px;
}
.benefits-list__subtitle {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--black-color);

  margin-bottom: 10px;
}
.benefits-list__text {
  line-height: 1.71;
}

/* -------------------Чем мы занимаемся----------------- */
.work__title {
  margin-bottom: 50px;
}
.work-list {
  display: flex;
}
.work-list__item:not(:last-child) {
  margin-right: 30px;
}
.work-list__thumb {
  position: relative;
}
.work-list__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;

  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);

  padding: 27px 0;
}

/* ----------------Наша команда----------------- */
.team {
  background-color: #f5f4fa;
}
.team__title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  max-width: 270px;
}
.team-list__item {
  background-color: var(--white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  padding-bottom: 30px;
}
.team-list__item:not(:last-child) {
  margin-right: 30px;
}
.team-list__name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.18;

  color: var(--black-color);

  margin: 30px 0 10px;
}
.team-list__pos {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.03em;

  margin-bottom: 16px;
}
.social-list {
  display: flex;

  padding-left: 32px;
  padding-right: 32px;
}
.social-list__item {
  display: flex;
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}
.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  fill: var(--color-light-gray);

  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.social-list__link:hover,
.social-list__link:focus {
  fill: #ffffff;
  background-color: var(--blue-color);
}

/* --------------------Clients--------------------- */
.clients__title {
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
}
.clients-list__item:not(:last-child) {
  margin-right: 30px;
}
.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 170px;
  min-height: 92px;

  fill: var(--color-light-gray);
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;

  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.clients-list__link:hover,
.clients-list__link:focus {
  fill: var(--blue-color);
  border-color: var(--blue-color);
}

/* ----------------------Подвал----------------------- */
footer {
  background-color: var(--footer-bg-color);
}
.footer {
  display: flex;
}
.address {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: 70px;
}
.footer__logo {
  display: inline-block;
  color: var(--white-color);
  margin-bottom: 20px;
}
.address__location {
  font-style: normal;
  line-height: 1.71;
  color: var(--white-color);
}
.address-list__link {
  display: inline-block;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.attraction {
  padding-top: 72px;
  padding-bottom: 100px;
}
.attraction__title,
.subscription__title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;

  color: var(--white-color);
  margin-bottom: 20px;
}
.attraction-list {
  display: flex;
}
.attraction-list__item:not(:last-child) {
  margin-right: 10px;
}
.attraction-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms var(--timing-function);
}
.attraction-list__link:hover,
.attraction-list__link:focus {
  background-color: var(--blue-color);
}

.subscription {
  padding-top: 72px;
  padding-bottom: 94px;
  margin-left: 93px;
}
.subscription__form {
  align-items: center;
  justify-content: center;
}
.subscription__input {
  min-width: 358px;
  max-height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;

  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline-width: 0px;
  padding: 15px 16px;
  margin-right: 12px;
}
.subscription__input:focus {
  border: 1px solid var(--white-color);
}
.subscription__button {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;

  padding: 10px 62px 10px 29px;
}
.subscription__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}

/* -----------------------Portfolio----------------------- */
/* ------------------------buttons--------------------- */
.button-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.button-list__item:not(:last-child) {
  margin-right: 8px;
}
.button-list__button {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: inherit;

  background-color: var(--bg-graish-color);
  color: var(--black-color);
  padding: 6px 22px;

  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.button-list__button:hover,
.button-list__button:focus {
  background-color: var(--blue-color);
  color: var(--white-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ---------------------Фото-галерея---------------------- */
.galery-list {
  display: flex;
  flex-wrap: wrap;
}
.galery-list__item {
  border: 1px solid #eeeeee;
  width: calc((100% - 60px) / 3);

  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms var(--timing-function);
}
.galery-list__item:nth-child(3n) {
  margin-right: 0;
}
.galery-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.galery-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.galery-list__item:hover .galery-list__text {
  transform: translateY(0);
}
.galery-list__img {
  margin-top: -1px;
  margin-left: -1px;
}
.galery-list__thumb {
  position: relative;
  overflow: hidden;
}
.galery-list__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);

  padding: 63px 24px;
  transform: translateY(100%);

  transition: transform 250ms var(--timing-function);
}
.galery-list__title {
  color: var(--black-color);

  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.galery-list__type {
  line-height: 1.88;
  font-size: 16px;
}
.galery-list__card {
  padding: 20px 25px;
}

/* ----------modal + forms + backdrop------------ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: none;

  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;

  border-radius: 4px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms var(--timing-function);
}
.modal__button--close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;

  fill: #000000;
  background-color: var(--footer-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: fill 250ms var(--timing-function);
}
.modal__button--close:hover {
  fill: var(--blue-color);
}
.modal__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ----------------form--------------------- */
.form {
  margin: 0 auto;
  padding: 40px;
}
.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  justify-content: center;
  color: #212121;

  margin-bottom: 12px;
}
.form-field {
  position: relative;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
}
.form-field__label,
.form-textarea__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  margin-bottom: 4px;
}
.form-field__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 12px 42px;
  outline: 1px solid transparent;
  transition: border-color 250ms var(--timing-function);
}
.form-field__input:focus {
  border-color: var(--blue-color);
}
.form-field__input ~ .form-field__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: #212121;

  transition: fill 250ms var(--timing-function);
}
.form-field__input:focus ~ .form-field__icon {
  fill: var(--blue-color);
}
.form-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-textarea__input {
  resize: none;
  width: 448px;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  padding: 12px 16px;

  transition: border 250ms var(--timing-function);
}
.form-textarea__input:focus {
  border: 1px solid var(--blue-color);
}
/* checkbox-area */
.checkbox {
  margin-bottom: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.71;
}
.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}
.checkbox__link {
  padding-left: 0.3rem;
  line-height: 1.71;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--blue-color);
}
.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  background-color: inherit;
  border-radius: 2px;
  border: 2px solid var(--black-color);

  transition: background-color 250ms var(--timing-function),
    border-color 250ms var(--timing-function), background-image 250ms var(--timing-function);
}
.checkbox__input:checked + .checkbox__icon {
  background-color: var(--blue-color);
  border-color: var(--blue-color);

  background-image: url('../images/icons/checkmark.svg');
  background-size: contain;
  background-origin: border-box;
  background-position: center;
}
.modal__button--submit {
  display: flex;
  margin: 0 auto;
  padding: 10px 55px 10px 56px;

  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.modal__button--submit:hover,
.modal__button--submit:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
